
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}




.noto-serif-normal {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}


.orange-color{
  color: rgba(233, 90, 8, 1);
}
.light-grey-text{
  color: rgba(0, 0, 0, 0.5);
}

.navbar{
  display: flex;
  justify-content: space-between;
  margin-right: 10rem;
  align-items: center;

}
.nav-container{
  display: flex;
  list-style: none;
  

}
.nav-item{
  text-decoration: none;
  color: black;
  margin-right: 3rem;
  
}
.logo{
  margin-left: 8.75rem;
}

.nav-item-2{
  color: #8987A1;
  font-size: 1rem;
}
.nav-item-3{
  color: #8987A1;
  font-size: 1rem;
}
.nav-item-1{
  color: #252432;
  font-weight: bold;
  font-size: 1rem;
}

.hero {
  margin-left: 8.75rem;
  margin-right: 9.75rem;
  margin-top: 7.5rem;
}

.hero-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}

.hero-text {
  max-width: 550px;
}

.hero-text h1 {
  font-size: 4rem;
  margin-bottom: 20px;
  font-weight: 700;

}

.hero-text p {
  font-size: 1.2rem;
  margin-bottom: 30px;
}


.hero-image img {
  max-width: 25rem;

}

.plant-header{
  text-align: center;
  font-size: 3.125 rem;
  font-weight: 700;
}
.plant-text{
  font-size: 22px;
  text-align: center;
  
}


 .card {
 background-color: white;
width: 16.875rem;
margin: 10px;
text-align: center;
padding: 10px;

 }
.card img {
 max-width: 100%;
height: auto;
}
.card h3 {
 margin: 10px 0;
color: #333;
}
.card p {
 color: #666;
 margin: 5px 0;
}
.card button {
background-color: #ff4500;
color: white;
 border: none;
padding: 10px;
cursor: pointer;
width: 100%;
font-weight: bold;
}
.card button:hover {
background-color: #e03a00;
}

.card-container{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  margin-left: 9.375rem;
  margin-right: 9.375rem;
}

/* lover section */

.image-section{
  background-image: url('../assets/flower-store.png');
  background-repeat: no-repeat;
  margin-left: 9.375rem;
  margin-top: 12.5rem;
}
.badge{
  
}